{% extends 'base.html' %}
{% block content %}{% load static %}
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Qu'est-ce qu'on mange ce soir ?</h1>
                        <h2 class="text-white font-weight-bold">
                        Ne réfléchissez plus ! Planifiez vos repas de la semaine, recevez  un sms avec la recette, et bon appétit !</h2>
                        <hr class="divider"/>
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                    <a href="{% url 'login' %}" id='btn_redirect_login' class="btn btn-outline-primary">C'est par ici !</button>
                    </a>
                    </div>
                </div>
            </div>
        </header>
{% endblock content %}